DATABASE_URL=Your_database_URL_here
TOKEN_KEY=You_token_key_here
TEST_DATABASE_URL=Your_test_database_url_here
TOKEN_EXPIRES_IN=Your_token_expiration_limit
PASSWORD_COST=Your_password_cost(as_an_integer)